@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

header{
    background-color: antiquewhite;
    color: #000000;
}

.logo-titulo {
    display: inline-block; 
}

.logo-titulo img {
    width: 100px; 
    vertical-align: middle; 
    margin-right: 10px; 
}

.titulo {
    display: inline-block;
}

nav.navbar-custom {
    background-color: antiquewhite;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content{
    background-color: #694817;
}

.header-content h2 {
    color: rgb(255, 255, 255);
}

.header-content p {
    color: rgb(255, 255, 255); /* Cambiar el color del párrafo */
}

.header-content {
    text-align: center;
    color: rgb(8, 8, 8);
    padding: 0 20px; /* Reduce el padding horizontal */
}

.header-content h1 {
    font-size: 50px; /* Reduce el tamaño de la fuente del título */
    line-height: 60px; /* Ajusta la altura de línea */
    margin-bottom: 0px; 
}

.header-content p {
    padding: 0 20px; /* Reduce el padding horizontal */
}

.docentes {
    padding: 50px 0;
    background-color: antiquewhite;
    position: relative;
    margin-top: -15px;
    
}

.nuestrosDocentes-content {
    text-align: center;
}

.nuestrosDocentes-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.docente-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.docente {
    flex-basis: calc(33.33% - 20px); 
    overflow: hidden;
    border: 1px solid #ccc;
    transition: flex-basis 0.3s ease;
    box-sizing: border-box; 
    margin-bottom: 0px; 
}

.docente:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .docente {
        flex-basis: calc(50% - 20px); 
    }
}

.docente:hover {
    flex-basis: 35%;
}

.docente img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.docente:hover img {
    transform: scale(1.1);
}

.docente-info {
    padding: 20px;
    background-color: #f9f9f9;
}

.docente-info h3 {
    font-size: 24px;
}

.docente-info p {
    font-size: 18px;
}

h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

.preguntas-container {
    background: url("/img/fondo.jpg") no-repeat center center;
    background-size: cover;
    padding: 50px 20px;
}

.PreguntasAcordeon {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.PreguntasAcordeon li {
    list-style: none;
    margin-bottom: 10px;
    background-color: rgb(240, 217, 175);
    padding: 10px;
    border-radius: 4px;
}

.PreguntasAcordeon li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #000;
}

.PreguntasAcordeon li label span {
    transform: rotate(90deg);
    font-size: 22px;
    color: #323337;
}

.PreguntasAcordeon label + input[type="radio"] {
    display: none;
}

.PreguntasAcordeon li .content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.PreguntasAcordeon label + input[type="radio"]:checked + .content {
    max-height: 400px;
}

@media (max-width: 600px) {
    .PreguntasAcordeon {
        width: 95%;
        padding: 15px;
    }

    .PreguntasAcordeon li label {
        font-size: 16px;
    }

    .PreguntasAcordeon li .content {
        font-size: 14px;
    }
}

/*ACA VAN LOS MAPAS*/

.map-container {
    display: flex;
    gap: 20px; /* Espacio entre los mapas */
    padding: 20px;
    background: #694817;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-container h4 {
    color: white;
    text-align: center;
}

.map-wrapper {
    flex: 1; /* Para que ocupen el mismo ancho */
}

iframe {
    width: 100%;
    height: 150px; /* Reducir la altura */
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
    .map-container {
        flex-direction: column; /* Cambiar a columna para dispositivos pequeños */
        align-items: center;
    }

    .map-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
}

footer {
    background-color: rgb(240, 217, 175);
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around; /* Para distribuir columnas equitativamente */
    flex-wrap: wrap; /* Permite que las columnas se envuelvan en pantallas más pequeñas */
}

.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px; /* Para asegurar que las columnas no sean demasiado estrechas */
    text-align: left;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: left;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 8px;
}

.footer-column form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column form label,
.footer-column form input,
.footer-column form button {
    margin-bottom: 10px;
    width: 100%;
}

.footer-column form input {
    padding: 8px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del input */
}

.footer-column form button {
    padding: 8px;
    background-color: #694817;
    color: white;
    border: none;
    cursor: pointer;
}

.footer-column form button:hover {
    background-color: #563d29;
}

.footer-rights {
    margin-top: 20px; 
    border-top: 1px solid #000000; 
    padding-top: 10px;
}

.footer-rights p {
    margin: 0;
    font-size: 0.9em;
}



@media screen and (max-width: 768px) {
    .docente-container {
        flex-direction: column;
    }
    .docente {
        flex-basis: 100%; 
        margin-bottom: 20px; 
    }
}
